@model IEnumerable<TranscriptMgt.Models.MarksheetMV>
@{
    ViewBag.Title = "Student List";
}

<h2>Promote Student</h2>
<script src="~/Scripts/jquery-3.4.1.js"></script>
@using (Html.BeginForm("MarkSheet", "MarksEntry", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header py-3">
            <h4 style="float:left">Retrive Student List</h4>
            <h4 style="float:right" class="text-danger">@Session["Message"]</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label>Select Session</label>
                    <select class="form-control" id="SessionID" name="SessionID" required></select>
                </div>
                <div class="col-md-4">
                    <label>Select Department</label>
                    <select class="form-control" id="DepartmentID" name="DepartmentID" required></select>
                </div>
                <div class="col-md-4">
                    <label>Select Program</label>
                    <select class="form-control" id="ProgrammeID" name="ProgrammeID" required></select>
                </div>
                <br />
                <div class="col-md-4">
                    <label>Select Current Semester</label>
                    <select class="form-control" id="CurrentSemesterID" name="CurrentSemesterID" required></select>
                </div>
                <div class="col-md-4">
                    <label>Select Subject</label>
                    <select id="SelectSubjectID" class="form-control col-md-6" name="SelectSubjectID" required />
                </div>
            </div>
            <div class="card-footer">

                <input style="float:right" type="submit" value="Get Student List" class="btn btn-success" />

            </div>
        </div>
    </div>
}

@using (Html.BeginForm("MarkSheetSubmit", "MarksEntry", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Marksheet Details</label>
                    <input readonly type="text" value="No subject select" id="SubjectName" name="SubjectName" />
                    <input type="number" value="0" style="display:none" id="SubjectID" name="SubjectID" />
                    <input type="text" id="txtsearch" name="txtsearch" class="form-control col-md-3" style="float:right" placeholder="Search" />
                </div>
            </div>
           
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="display:none">
                                StudentID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Registration Number
                            </th>
                            <th>
                                Enrollment Number
                            </th>
                            <th>
                                Mid term Mark
                            </th>
                            <th>
                                Final Term Mark
                            </th>
                        </tr>
                    </thead>
                    <tbody id="searchvalue">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="display:none;">
                                   @Html.EditorFor(modelItem => item.StudentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentName)
                                </td>
                                <td>
                                 @Html.DisplayFor(modelItem => item.Reg_No)
                                </td>
                                <td>
                                  @Html.DisplayFor(modelItem => item.Enroll_No)
                                </td>

                                <td>
                                    @Html.EditorFor(modelItem => item.ObtainMidTermMarks,new {htmlAttributes= new { @type = "number", @min = "1", @max = "20", @class = "form-control", @id = "item.ObtainMidTermMarks" } })
                              
                                  @*  <input type="number" class="form-control" id="midtermmarks" name="midtermmarks" />*@
                                </td>
                                <td>
                                    @Html.EditorFor(modelItem => item.ObtainFinalTermMarks, new { htmlAttributes = new { @type = "number", @min = "1", @max = "80", @class = "form-control", @id = "item.ObtainFinalTermMarks" } })
                                   @* <input type="number" class="form-control" id="finaltermmarks" name="finaltermmarks" />*@
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="submit" value="Submit Markshet" class="btn btn-success" style="float:right" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

}



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $("#txtsearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchvalue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });



        $.ajax({
            url: '@Url.Action("GetSession","StudentPromoteTables")',
            type: 'GET',
            data: "{}",
            success: function (response) {
                 $("#SessionID").append("<option value='0'>--select--</option>")
                for (var i = 0; i < response.data.length; i++)
                {
                    $("#SessionID").append("<option value=" + response.data[i].SessionID + ">" + response.data[i].Name + "</option");
                }
            },
            error: function () {

            }

        });

            $.ajax({
            url: '@Url.Action("GetDepartment","StudentPromoteTables")',
            type: 'GET',
            data: "{}",
                success: function (response) {
                    $("#DepartmentID").append("<option value='0'>--select--</option>")
                for (var i = 0; i < response.data.length; i++)
                {
                    $("#DepartmentID").append("<option value=" + response.data[i].DepartmentID + ">" + response.data[i].Name + "</option");
                }
            },
            error: function () {

            }

        });



        $('#DepartmentID').change(function () {

            $('#ProgrammeID').html('');

            $.ajax({
                url: '@Url.Action("GetProgram","StudentPromoteTables")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $("#ProgrammeID").append("<option value='0'>--select--</option>")
                    for (var i = 0; i < response.data.length; i++) {
                        $("#ProgrammeID").append("<option value=" + response.data[i].ProgrammeID + ">" + response.data[i].Name + "</option");
                    }
                },
                error: function () {

                }

            });
        });


        $('#ProgrammeID').change(function () {

            $('#CurrentSemesterID').html('');


            $.ajax({
                url: '@Url.Action("GetSemesters","StudentPromoteTables")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $("#CurrentSemesterID").append("<option value='0'>--select--</option>")
                    for (var i = 0; i < response.data.length; i++) {
                        $("#CurrentSemesterID").append("<option value=" + response.data[i].ProgrammeSemesterID + ">" + response.data[i].Description + "</option");
                    }
                },
                error: function () {

                }

            });


        });

        @*$('#CurrentSemesterID').change(function () {

            $('#SubjectID').html('');


            $.ajax({
                url: '@Url.Action("GetSemesterSubject","MarksEntry")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $("#SubjectID").append("<option value='0'>--select--</option>")
                    for (var i = 0; i < response.data.length; i++) {
                        $("#SubjectID").append("<option value=" + response.data[i].SubjectSemesterID + ">" + response.data[i].Name + "</option");
                    }
                },
                error: function () {

                }

            });


        });

            $('#SubjectID').html('');


            $.ajax({
                url: '@Url.Action("GetSemesterSubject","MarksEntry")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType:'Json',
                success: function (response) {
                    $("#SubjectID").append("<option value='0'>--select--</option>")
                for (var i = 0; i < response.data.length; i++)
                {
                    $("#SubjectID").append("<option value=" + response.data[i].SubjectSemesterID + ">" + response.data[i].Name + "</option");
                }
            },
            error: function () {

            }

            });*@


        //dsfffffffffffffffffffffffffffffffffffffffffffffffeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee

            $('#CurrentSemesterID').change(function () {

                $('#SelectSubjectID').html('');

            $.ajax({
                url: '@Url.Action("GetSemesterSubject","MarksEntry")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $("#SelectSubjectID").append("<option value='0'>--select--</option>")
                    for (var i = 0; i < response.data.length; i++) {
                        $("#SelectSubjectID").append("<option value=" + response.data[i].SubjectSemesterID + ">" + response.data[i].Name + "</option");
                    }
                },
                error: function () {
                }
                });
            });
            $('#SelectSubjectID').html('');
            $.ajax({
                url: '@Url.Action("GetSemesterSubject","MarksEntry")',
                type: 'GET',
                data: { id: $(this).val() },
                dataType: 'Json',
                success: function (response) {
                    $("#SelectSubjectID").append("<option value='0'>--select--</option>")
                    for (var i = 0; i < response.data.length; i++)
                    {
                        $("#SelectSubjectID").append("<option value=" + response.data[i].SubjectSemesterID + ">" + response.data[i].Name + "</option");
                    }
                },
                error: function () {
                }
            });
          $('#SelectSubjectID').change(function () {
              $('#SubjectID').val($("#SelectSubjectID option:selected").val());
              $('#SubjectName').val($("#SelectSubjectID option:selected").text());

        });
    });
   
</script>
