@model IEnumerable<DataAccess.SemesterTable>

@{
    ViewBag.Title = "All Semester";
}


<div class="card">
    <div class="card-header py-3">
        @Html.ActionLink("New Semester", "Create", null, new { @class = "genric-btn success" })
        <input type="text" id="txtsearch" name="txtsearch" class="form-control col-md-2" style="float:right" placeholder="Search" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Semester
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Semester type
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="searchvalue">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SemesterTypeTable.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Update", "Edit", new { id = item.SemesterID }, new { @class = "genric-btn primary" }) 
                           
                           
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtsearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchvalue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
