<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Transcript App</title>
    <meta name="description" content="">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>

    <!-- Syntax Highlighter -->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminTemplate/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/AdminTemplate/syntax-highlighter/styles/shThemeDefault.css" media="all">

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/AdminTemplate/css/font-awesome.min.css">
    <!-- Normalize/Reset CSS-->
    <link rel="stylesheet" href="~/Content/AdminTemplate/css/normalize.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/Content/AdminTemplate/css/main.css">

    <link rel="stylesheet" href="~/Content/StartupTemplate/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/StartupTemplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/StartupTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/StartupTemplate/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/StartupTemplate/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/StartupTemplate/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/StartupTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/StartupTemplate/css/responsive.css">
  
</head>
<body>

    <aside class="left-sidebar">
        <div class="logo">
            <a href="#welcome">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <nav class="left-nav">
            <ul id="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Sessions", "Index", "SessionTables")</li>
                <li>@Html.ActionLink("Departments", "Index", "DepartmentTables")</li>
                <li>@Html.ActionLink("Program", "Index", "ProgrammeTables")</li>
                <li>@Html.ActionLink("Semester types", "Index", "SemesterTypeTables")</li>
                <li>@Html.ActionLink("Semesters", "Index", "SemesterTables")</li>
                <li>@Html.ActionLink("Subjects", "Index", "SubjectSemesterTables")</li>
                <li>@Html.ActionLink("Program semesters setting", "Index", "ProgrammeSemestersTables")</li>
                <li>@Html.ActionLink("Semester subjects setting", "Index", "SubjectSemesterTables")</li>
                <li>@Html.ActionLink("Students", "Index", "StudentTables")</li>
                <li>@Html.ActionLink("Marks sheet", "Index", "MarkSheetTables")</li>
            </ul>
        </nav>
    </aside>

    <div id="main-wrapper">
        <div class="main-content">

            <div class="content-header">
                <h1>Transcript App</h1>
            </div>
            <div class="welcome">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    <!-- Essential JavaScript Libraries
    ==============================================-->
    @*<script type="text/javascript" src="~/Content/AdminTemplate/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="~/Content/AdminTemplate/js/jquery.nav.js"></script>
        <script type="text/javascript" src="~/Content/AdminTemplate/syntax-highlighter/scripts/shCore.js"></script>
        <script type="text/javascript" src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushXml.js"></script>
        <script type="text/javascript" src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushCss.js"></script>
        <script type="text/javascript" src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushJScript.js"></script>
        <script type="text/javascript" src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushPhp.js"></script>*@
    <script src="~/Content/AdminTemplate/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/AdminTemplate/js/jquery.nav.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shCore.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushXml.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushCss.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushJScript.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
    <script type="text/javascript" src="~/Content/AdminTemplate/js/custom.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/StartupTemplate/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/StartupTemplate/js/popper.js"></script>
    <script src="~/Content/StartupTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/StartupTemplate/js/stellar.js"></script>
    <script src="~/Content/StartupTemplate/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/StartupTemplate/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/StartupTemplate/js/waypoints.min.js"></script>
    <script src="~/Content/StartupTemplate/js/mail-script.js"></script>
    <script src="~/Content/StartupTemplate/js/contact.js"></script>
    <script src="~/Content/StartupTemplate/js/jquery.form.js"></script>
    <script src="~/Content/StartupTemplate/js/jquery.validate.min.js"></script>
    <script src="~/Content/StartupTemplate/js/mail-script.js"></script>
    <script src="~/Content/StartupTemplate/js/theme.js"></script>


</body>
</html>
