@model TranscriptMgt.Models.TranscriptMV
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transcript</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="container-fluid">
    </div><div>

        <table class="table table-borderless">
            <tr>
                <td>
                    <img src="~/Content/unilogo.png" height="200" width="200" />
                </td>
                <td class="text-center">
                    <h1>Kardan University</h1>
                    <h3>Kabul, Afghanistan</h3>
                    <hr />
                    <h3>Official Transcript</h3>
                </td>
                <td>
                    <img src="@Url.Content(Model.Student.Photo)" height="200" width="200" />
                </td>
            </tr>
        </table>
        <h2 class="text-center">@Model.Programe</h2>
        <table class="table table-bordered">

            <tr>
                <td colspan="9">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>@Model.Student.Name</td>
                        </tr>
                        <tr>
                            <td>Father Name:</td>
                            <td>@Model.Student.FatherName</td>
                        </tr>
                        <tr>
                            <td>Reg.No:</td>
                            <td>@Model.Student.RegNo</td>
                        </tr>
                        <tr>
                            <td>Enrol No:</td>
                            <td>@Model.Student.EnrollNo</td>
                        </tr>
                        <tr>
                            <td>Session:</td>
                            <td>@Model.Student.Session</td>
                        </tr>
                    </table>
                </td>
            </tr>

            @{
                bool headercreate = false;

                foreach (TranscriptMgt.Models.SemesterTranscriptMV semester in Model.Semesters)
                {
                    <tr>
                        <td colspan="9">@semester.SemesterTitle</td>
                    </tr>
                    if (headercreate == false)
                    {

                        <tr style="background-color:lightgray">
                            <td>Course Code</td>
                            <td>Course Title</td>
                            <td>Total Marks</td>
                            <td>Obtained Marks</td>
                            <td>Grade</td>
                            <td>Value</td>
                            <td>Cr.Hrs</td>
                            <td>Grade Point</td>
                            <td>GPA</td>
                        </tr>
                    }

                    for (int i = 0; i < semester.Subjects.Count; i++)
                    {


                        <tr>
                            <td>@semester.Subjects[i].SubjectCode</td>
                            <td>@semester.Subjects[i].CourseTitle</td>
                            <td>@semester.Subjects[i].TotalMarks</td>
                            <td>@semester.Subjects[i].ObtainedMarks</td>
                            <td>@semester.Subjects[i].Grade</td>
                            <td>@semester.Subjects[i].Value</td>
                            <td>@semester.Subjects[i].CrHrs</td>
                            <td>@semester.Subjects[i].GradePoint</td>

                            @if (semester.Subjects.Count - 1 == i)
                            {
                                <td>@semester.GPA.ToString("F3")</td>
                            }
                        </tr>
                        }
                    }


                }

            @{
                <tr style="background-color:lightgray">
                    <td colspan="2">Total Marks</td>

                    <td>@Model.TotalMarks</td>
                    <td>@Model.ObtainMarks</td>
                    <td>Percentage</td>
                    <td colspan="2">@Model.Percentage</td>
                    <td>CGPA</td>
                    <td>@Model.CGPA.ToString("F3")</td>
                </tr>
            }
             
        </table>
    <div style="float:left">
        <label>Disclaimer</label>
        <p>Errors and omissions, if any are subject to subseqent reciftication</p>
        <p>issue date: @DateTime.Now.ToString("MMMM dd yyyy")</p>
    </div>
    <table>
        <tr>
            <td style="float:left">
                <b class="text-center">Assistant contoller</b>
                <b class="text-center">Assistant contoller 2</b>
            </td>
            <td style="float:right">
                <b>Kardan Universty</b>
                <b>Controller of examination</b>
            </td>
        </tr>
    </table>

    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

</body>
</html>
