@model IEnumerable<DataAccess.ProgrammeSemestersTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Semester Title
        </th>
        <th>
           Program
        </th>
        <th>
            Semester
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgrammeTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SemesterTable.Name)
        </td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.ProgrammeSemesterID }, new { @class = "genric-btn primary" }) 
           
        </td>
    </tr>
}

</table>
