@model IEnumerable<DataAccess.UsersTable>

@{
    ViewBag.Title = "All Users";
}

<h2>Index</h2>


<div class="card">
    <div class="card-header py-3">
        @Html.ActionLink("New User", "Create", null, new { @class = "genric-btn success" })
        <input type="text" id="txtsearch" name="txtsearch" class="form-control col-md-2" style="float:right" placeholder="Search" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.userName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.password)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="searchvalue">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.password)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtsearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchvalue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
