@model DataAccess.MarkSheetTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MarkSheetTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectSemesterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectSemesterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObtainMidTermMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObtainMidTermMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObtainFinalTermMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObtainFinalTermMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgrammeSemestersTable.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammeSemestersTable.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTable.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
