@model IEnumerable<DataAccess.DepartmentTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Department Name
        </th>
        <th>
            Establish Date
        </th>
        <th>
           Description
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Establish_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentID }, new { @class="genric-btn primary"}) 
            @Html.ActionLink("Details", "Details", new { id=item.DepartmentID }, new { @class="genric-btn info"}) 
       
        </td>
    </tr>
}

</table>
